<a href="https://colab.research.google.com/github/kwongeunyoung/khu_programming/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def add(a,b):
  result = a+b
  return result

In [2]:
a = add(3,4)
print(a)

7

In [3]:
def say():
  return 'Hi'

In [5]:
a = say()
print(a)

Hi

In [7]:
def add(a,b):
  print("%d,%d의 합은 %d입니다." %(a,b,a+b))

In [8]:
add(3,4)

3,4의 합은 7입니다.

In [10]:
b=add(3,4)

3,4의 합은 7입니다.

In [11]:
print(b)

None

In [38]:
def say_myself(name, old, man=True):
  print("나의 이름은 %s입니다." % name)
  print("나이는 %d살 입니다." % old)
  if man:
    print("남자입니다.")
  else:
    print("여자입니다.")

In [40]:
say_myself("홍길동", 20, )

나의 이름은 홍길동입니다.
나이는 20살 입니다.
남자입니다.

In [59]:
a=1
def vartest(a):
  a=a+1
  return(a)
print(vartest(a))

2

In [61]:
add = lambda a,b: a+b
result = add(3,4)
print(result)

7

In [62]:
def add(a,b):
  return a+b

result = add(3,4)
print(result)

7

In [ ]:
def sum_numbers(*args):
  print(f"")