<a href="https://colab.research.google.com/github/kwongeunyoung/khu_programming/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
x = int(input("Enter a number: "))
if x > 0:
    print("positive number")
elif x < 0:
    print("negative number")
else:
    print("zero")

Enter a number: 0
zero

In [5]:
age = int(input("enter your age"))
if age<18:
    print("you are not eligible to vote.")
elif age >=18 and age<65:
  print("you are eligible to vote.")
else:
  print("you are eligible to vote, but not rquired to.")

enter your age65
you are eligible to vote, but not rquired to.

In [25]:
score = int(input("enter yout test score:"))
if score>=90:
    print("you got an A!")
elif score>=80:
    print("you got a B.")
elif score>=70:
    print("you got a C.")
elif score>=60:
    print("you got a D.")
else:
    print("you failed the test")

enter yout test score:8
you failed the test

In [22]:
for i in range(2,10):
  for j in range(1,10):
    print(i*j, end=" ")
  print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [36]:
num = int(input("enter a number:"))
for i in range(1,10):
  print(num, "x", i, "=", num*i)

enter a number:9496
9496 x 1 = 9496
9496 x 2 = 18992
9496 x 3 = 28488
9496 x 4 = 37984
9496 x 5 = 47480
9496 x 6 = 56976
9496 x 7 = 66472
9496 x 8 = 75968
9496 x 9 = 85464

In [41]:
a=[1,2,3,4]
result = [num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [43]:
numbers = [1,2,3,4,5]
squared_numbers = [x**2 for x in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25]

In [49]:
numbers = [1,2,3,4,5]
odd_numbers = [x for x in numbers if x % 2 !=0]
print(odd_numbers)

[1, 3, 5]

In [52]:
names = ['Alice', 'Bob', 'Charlie']
name_tuples = [(name, len(name)) for name in names]
print(name_tuples)

[('Alice', 5), ('Bob', 3), ('Charlie', 7)]

In [53]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
flattened = [element for row in matrix for element in row]
print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
words = ['hello','world','python']
upper_words = [word.upper() for word in words]
print(upper_words)

['HELLO', 'WORLD', 'PYTHON']

In [57]:
result = [x*y for x in range(2,10) for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [58]:
coffee = 10
money = 300
while money:
  print("돈을 받았으니 커피를 줍니다.")
  coffee = coffee -1
  print("남은 커피의 양은 %d개 입니다." % coffee)
  if coffee ==0:
    print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
    break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개 입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개 입니다.
커피가 다 떨어졌습니다. 판매를 중지 합니다.

In [59]:
treeHit = 0
while treeHit < 10:
  treeHit = treeHit +1
  print("나무를 %d번 찍었습니다."%treeHit)
  if treeHit == 10:
    print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [60]:
a=0
while a<10:
  a = a+1
  if a % 2 == 0 : continue
  print(a)

1
3
5
7
9

In [62]:
x=6
if x>5:
  pass
else:
  print("x is less than equal to 5")